/* Bulma.io */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.App {
  text-align: center;
}

.loading {
  animation: blink 2.5s infinite;
}

.reversed {
  transform: rotateX(180deg);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}